*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #081b29;
    color: antiquewhite;
    overflow-x: hidden;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    position: relative;
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}
.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
    

}

.navbar a{
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}
.navbar a:hover,
.navbar a:active{
    color: #154468;
}
.home{
    height: 100vh;
    
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-content{
    max-width: 600px;
}
 .home-content h1 {
    position: relative;
    font-size: 50px;
    font-weight: 700;
    line-height: 1.2;
 }
 .home-content h1::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;    
    
}

 .home-content h3{
    position: relative;
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
 }
 .home-content h3::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;    
    
}
 .home-content p{
    position: relative;
    font-size: 16px;
    margin: 10px 0 px;
    line-height: 1.5;

 }
 .home-content p::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;    
    
}
 .home-image{
    flex: 1;
    
   
    animation: fadeInRight 2s ease;
    position: absolute;
    top: 50px;
    right: 30px;
    width: 600px;
    
    background: transparent;
   
}
.homes{
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-top: 50px;
}
.home-imgHover{
    position: absolute;
    top: 0;
    right: 30px;
    width: 600px;
    height: 100%;
    background: transparent;
    
    transition: 3s;
}
.home-imgHover:hover{
    background: #081b29;
    opacity: .8;
}
@keyframes showRight {
    100%{
        width: 0;
    }
}
.main{
    background-color: #081b29;
    overflow: hidden;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 65px auto;
}
.main-content{
    flex: 1;
    width: 600px;
    margin: 0px 25px;
}
.main-content h2{
    font-size: 38px;
    margin-bottom: 20px;
    color: #ededed;
}
.main-content p{
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
    animation: fadeInUp 2s ease;


}
.main-content label{
    display: inline-block;
    background-color: transparent;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}
.main-content label:hover{
    background-color: #edededbd;
    transform: scale(1.1);
}
.main-image{
    flex: 1;
    width: 600px;
    margin: auto;
    margin-right: 50px;
    
    animation: fadeInRight 2s ease;
}
.mains{
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin-top: 50px;
}
.more{
    display: none;
    transition: 0.5 linear;
}
#check{
    display: none;
}
#check:checked ~ .more{
    display: block;
}
@keyframes fadeInUp{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
#music-toggle {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #00abf0;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1000;
    transition:  0.3s ease;
}

#music-toggle:hover {
    background-color: #0077a8;
}

.cont{
    background-color: #ededed;
    overflow: hidden;
}
.contact-container{
    min-height: 100vh;
    background: #081b29;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-container form{
    width: 670;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 20px 20px 50px rgb(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgb(255, 255, 255,0.1);
    backdrop-filter: blur(100px)
}
.contact-container  h1{
    color: #ededed;
    font-weight: 500;
    margin-top: 20px;
    width: 500px;
    text-align: center;
}
.contact-container input{
    width: 290;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fff;    
}
.contact-container input::placeholder{
    color:#ededed;

}
.contact-container form #lastname,
.contact-container form #mobile{
    margin-left: 20px;
}
.contact-container form h4{
    color: #fff;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}
.contact-container form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid#ededed;
    color: #ededed;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 600px;
    max-width: 600px;
    min-height: 80px;
    max-height: 80px;
}
text area::-webkit-scrollbar{
    width: 1em;
}
text area::-webkit-scrollbar-thumb{
    background-color: #ededed;
}
.contact-container form #button{
    border: none;
    background: transparent;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #ededed;
    width: 100px;
    padding: 0;
    padding-right: 500px;
    margin-bottom: 30px;
    transition: 0.3;
}
.contact-container form #button:hover{
    opacity: 0.7;
}
.skillss{
      min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #081b29;
}
.skills{
  width: 100%;
  max-width: 600px;
  padding: 0 20px;
  color: #00abf0;
}

.skill-name{
  font-size: 18px;
  font-weight: 700;
  color: #ededed;
  text-transform: uppercase;
  margin: 20px 0;
}

.skill-bar{
  height: 14px;
  background: #282828;
  border-radius: 3px;
}

.skill-per{
  height: 14px;
  background: #d13639;
  border-radius: 3px;
  position: relative;
  animation: fillBars 2.5s 1;
}

.skill-per::before{
  content: attr(per);
  position: absolute;
  padding: 4px 6px;
  background: #ededed;
  border-radius: 4px;
  font-size: 12px;
  top: -35px;
  right: 0;
  transform: translateX(50%);
}

.skill-per::after{
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #ededed;
  top: -20px;
  right: 0;
  transform: translateX(50%) rotate(45deg);
  border-radius: 2px;
}

@keyframes fillBars{
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
}

.slide-container{
    width: 100%;
    height: 100vh;
    background: #081b29;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Jost", sans-serif;
}
.slider-images{
    display: flex;
    align-items: center;
    gap: 18px;
}
.slider-images .pictures{
    width: 100%;
    height: 95%;
    object-fit: cover;
    border-radius: 6px;
    margin-top: 50px;
}
.slider-img{
    width: 100px;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    transition: 1s ease;
}
.slider-images .slider-img:first-child, .slider-images .slider-img:last-child{
    height: 480px;
}
.slider-images .slider-img:nth-child(2), .slider-images .slider-img:nth-child(6){
    height: 560px;
}
.slider-images .slider-img:nth-child(3), .slider-images .slider-img:nth-child(4), .slider-images .slider-img:nth-child(5){
    height: 665px;
}
.slider-images h1{
    font-size: 40px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    color: #000000;
    position: absolute;
    text-align: left;
    top: 50%;
    left: -5%;
    transform: rotate(270deg);
    transition: 1s ease;
}
.details{
    position: absolute;
    bottom: 43px;
    left: 43px;
}
.details h2{
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    line-height: 44px;
    text-align: left;
    color: #081b29;
    text-transform: uppercase;
    transition: 0.7s ease;
    display: none;
}
.slider-img.active{
    width: 500px !important;
    height: 720px !important;
}
.slider-img.active h1{
    display: none;
}
.slider-img.active h2{
    display: block;
}
.slider-images .bor{
    right: 10%;
    top: 60%;
}
.slider-images .girl{
    right: 10%;
    top: 65%;
}
.slider-images .tagay{
    right: 10%;
    top: 62%;
}
.project{
      min-height: 100vh;
  background: #081b29;
    
}
.project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    gap: 25px;
    
}
.projects{
    width: 350px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.3);
    overflow: hidden;
}
.project-img{
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.project-content{
    padding: 20px;
}
.project-content h1{
    font-size: 20px;
    color: #081b29;
    margin-bottom: 10px;
}
.project-content p{
    color: #081b29;
}

